/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
body {
  background: url('./body.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}
.black {
    background-color: #151414 !important
}
